<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ExceptList" value=".git,.nuget,.vs,.dll,.pdb, .png,.jpg,.gif ,.log,.eot, .ttf, .woff, .swf, packages , ReferenceDLL ,.cache,.xls, .xlsx,.doc,.docx,favicon.ico,_references.js,.exe,.mp3" />
    <add key="isChangeToUTF8" value="true" />
  </appSettings>
</configuration>